@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
  overflow: hidden;
}

:root {
  --bright-color: #db2020;
  --dark-color: #004dc8;
  --darker-color: rgb(25, 1, 40);
  --lightest-color: #fff;
  --darkest-color: #000;
  --success-color: rgb(0, 137, 16);
}
