@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Raleway:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Press Start 2P", sans-serif;
}

:root {
  --bright-color: rgb(255, 115, 0);
  --dark-color: #581571;
  --lightest-color: #fff;
  --darkest-color: #000;
}
