.container {
  width: 1200px;
  margin: 0 auto;
}
.app {
  background: url(../assets/images/super-mario/mario-cover-2.jpeg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  position: relative;
}
.credit {
  padding: 0 20px 0 3px;
  position: absolute;
  color: var(--lightest-color);
  bottom: 2%;
  right: 2%;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  background-color: var(--darkest-color);
  &:hover {
    color: var(--bright-color);
  }
  & img {
    width: 30px;
    filter: invert(22%) sepia(68%) saturate(2552%) hue-rotate(344deg)
      brightness(99%) contrast(105%);
  }
}
