.__button {
  width: fit-content;
  & button {
    font-size: 30px;
    padding: 20px 30px;
    font-family: "Press Start 2P", sans-serif;
    background-color: var(--bright-color);
    cursor: pointer;
    border: solid 10px var(--dark-color);
    color: var(--lightest-color);
    transition: transform 0.3s ease-in-out;
    border-radius: 50px;
    &:hover {
      box-shadow: 0px 0px 50px var(--bright-color);
      color: var(--dark-color);

      &:active {
        transform: scale(0.5);
      }
    }
    &:hover img {
      filter: invert(22%) sepia(53%) saturate(3617%) hue-rotate(208deg)
        brightness(92%) contrast(110%);
    }
    & img {
      width: 30px;
      margin-right: 20px;
      filter: invert(100%) sepia(100%) saturate(1%) hue-rotate(207deg)
        brightness(102%) contrast(102%);
    }
  }
  @media only screen and (max-width: 600px) {
    & button {
      font-size: 20px;
      & img {
        width: 20px;
      }
    }
  }
}
.__small {
  & button {
    font-size: 20px;
    padding: 10px 20px;
    border: solid 5px var(--lightest-color);
    background-color: var(--bright-color);
    &:hover {
      color: var(--dark-color);
      box-shadow: 0px 0px 10px var(--bright-color);
      border: solid 5px var(--dark-color);
    }
    & img {
      display: none;
    }
  }
  @media only screen and (max-width: 600px) {
    & button {
      font-size: 15px;
    }
  }
  @media only screen and (max-height: 900px) {
    & button {
      font-size: 10px;
    }
  }
}
