.__input {
  & input {
    font-size: 20px;
    padding: 15px 20px;
    font-family: "Press Start 2P", sans-serif;
    border: solid 5px var(--bright-color);
    outline: none;
    border-radius: 50px;
    &:focus {
      box-shadow: 0px 0px 100px var(--bright-color);
    }
  }
  @media only screen and (max-width: 600px) {
    & input {
      font-size: 12px;
    }
  }
}
