.__card {
  width: 150px;
  height: 150px;
  border: solid 5px var(--bright-color);
  background-color: var(--darker-color);
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(1000px);
  transition: 1s transform;
  &:hover {
    box-shadow: 0px 0px 50px var(--bright-color);
  }

  .__front,
  .__back {
    position: absolute;
    backface-visibility: hidden;
    overflow: hidden;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 50%;
      object-fit: contain;
    }
  }
  .__back {
    transform: rotateY(180deg);
  }
}
.__flip {
  transform: rotateY(180deg);
}
