.__game {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  & h1 {
    color: var(--lightest-color);
    transform: translateY(50px);
    display: flex;
    align-items: center;
    gap: 50px;
  }
  .__cards_container {
    gap: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    padding-top: 50px;
    justify-content: center;
    .__card {
      width: 150px;
      height: 150px;
      // border: solid 5px var(--bright-color);
      cursor: pointer;
      position: relative;
      transform-style: preserve-3d;
      transform: perspective(1000px);
      transition: 1s transform;
      &:hover {
        box-shadow: 0px 0px 20px var(--bright-color);
        border-radius: 20px;
      }

      .__front,
      .__back {
        border-radius: 20px;
        position: absolute;
        backface-visibility: hidden;
        overflow: hidden;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          width: 50%;
          object-fit: contain;
        }
      }
      .__front {
        background-color: var(--dark-color);
      }
      .__back {
        transform: rotateY(180deg);
        background-color: var(--lightest-color);
      }
    }
    .__flip {
      transform: rotateY(180deg);
      pointer-events: none;
    }
    .__succesful_pair {
      transform: rotateY(180deg);
      background-color: var(--success-color) !important;
      pointer-events: none;
      border-radius: 20px;
    }
    .__disabled {
      pointer-events: none;
    }
  }
  .__info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.__flip {
  transform: rotateY(180deg);
}
